@import "order-form";

.c-order {
  font-family: $montserrat_font;
  background-color: #f8f8f8;
  padding-top: 135px;

  &__order-block {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 45px;
  }

  &__heading {
    display: none;
  }

  &__title {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
  }

  &__list {
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 20px 30px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &__name {
    font-size: 18px;
  }

  &__capture {
    font-size: 15px;
    color: #666666;
    line-height: 24px;
  }

  &__amount, &__price {
    font-weight: bold;
  }

  &__sum, &__sum-value {
    font-size: 18px;
    font-weight: bold;
  }

  &__sale, &__sale-value {
    font-size: 15px;
    line-height: 24px;
    color: #666666;
  }

  &__order-form {
    padding: 30px;
    margin: 0 auto;
  }

  &__img {
    display: none;
  }

}

@media (min-width: 1024px) {
  .c-order {
    background-color: #fff;
    padding-top: 175px;
    display: flex;
    justify-content: space-between;

    &__heading {
      display: block;
      position: absolute;
      font-family: $montserrat_font;
      font-size: 36px;
      font-weight: bold;
      left: 0;
      top: -90px;
    }

    &__data {
      position: relative;
      padding: 0;
      width: 45%;
    }

    &__order-block {
      border: none;
      padding: 30px;
      margin-bottom: 35px;
    }

    &__order-block, &__order-form {
      background-color: #f8f8f8;
    }

    &__img {
      display: block;
      width: 45%;
  
      img {
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  
}